<!DOCTYPE html>

<html>

<body>
  <!-- <script>
  var s;
  var myVideo;
  var aLeft;
  var aRight;
  </script> -->

  <body bgcolor="#b29c84">
    
    <button onclick="disableMute()" type="button">Enable sound</button>



  <div style="text-align:center">
    <video id="video1" width="1080" height="720">
          <source src="/video/Selfportrait_1.mp4" type="video/mp4">
        </video>
  </div>


  <div id="instructions" style="text-align:center">
    <font size='7' face="impact">Use the arrow keys. Listen with headphones. </font>
    <script type="text/javascript">
      var s = document.getElementById('instructions').style;
      s.opacity = 1;
      (function fade() {
        (s.opacity -= .005) < 0 ?
          s.display = "none" : setTimeout(fade, 40)
      })();
    </script>
  </div>


<div>
  <audio id="leftAudio" loop type="audio/wav">
    <source src="/audio/LeftChannel.wav">
  </audio>
</div>

<div>
  <audio id="rightAudio" loop type="audio/wav">
    <source src="/audio/RightChannel.wav">
  </audio>
</div>
    <script>

var aLeft = document.getElementById("leftAudio");
// aLeft.autoplay = true:
// aLeft.volume = 0.5;
var aRight = document.getElementById("rightAudio");
// aRight.autoplay = true;
// aRight.volume = 0.5;
      function disableMute() { 
    aLeft.play();
    aRight.play();
     
} 


  var myVideo = document.getElementById("video1");
  var videoSelection = 1;

  myVideo.currentTime = 5;

  aRight.volume = 0.5;
  aLeft.volume = 0.5;

  document.onkeydown = checkKey;

  function checkKey(e) {

    e = e || window.event;

    if (e.keyCode == '38') { //up arrow
      if (videoSelection == 1) {
        myVideo.src = "/video/selfportrait2.mp4";
        myVideo.currentTime = 6.5;
        videoSelection = 2;
        aRight.volume = 0.5;
        aLeft.volume = 0.5;
      } else {
        myVideo.currentTime -= 0.1;
        aRight.volume += 0.008;
        aLeft.volume += 0.008;
      }
    } else if (e.keyCode == '40') { //down arrow
      if (videoSelection == 1) {
        myVideo.src = "/video/selfportrait2.mp4";
        myVideo.currentTime = 6.5;
        videoSelection = 2;
        aRight.volume = 0.5;
        aLeft.volume = 0.5;
      } else {
        myVideo.currentTime += 0.1;
        aRight.volume -= 0.008;
        aLeft.volume -= 0.008;
      }
    } else if (e.keyCode == '37') { //left arrow
      if (videoSelection == 2) {
        myVideo.src = "/video/Selfportrait_1.mp4";
        myVideo.currentTime = 5;
        videoSelection = 1;
        aRight.volume = 0.5;
        aLeft.volume = 0.5;
      } else {
        myVideo.currentTime -= 0.1;
                aRight.volume -= 0.01;
                aLeft.volume += 0.01;
      }
    } else if (e.keyCode == '39') { //right arrow
      if (videoSelection == 2) {
        myVideo.src = "/video/Selfportrait_1.mp4";
        myVideo.currentTime = 5;
        videoSelection = 1;
        aRight.volume = 0.5;
        aLeft.volume = 0.5;
      } else {
        myVideo.currentTime += 0.1;
        aRight.volume += 0.01;
        aLeft.volume -= 0.01;
      }
    }
  }
</script>

  </body>
  </html>
